# Data Structures

Data structures are basically just that - they are structures which can hold some data together. In other words, they are used to store a collection of related data. There are four built-in data structures in Python - list, tuple, dictionary and set. We will see how to use each of them and how they make life easier for us.

## Tuples

Python tuple is a sequence, which can store hetrogeneous data types such as integers, float, strings, lists and dictionary. Like strings, tuple is immutable.

In [1]:
# Create an empty tuple with parentheses:

t = ()
type(t)

tuple

In [2]:
# Note that a single value in parentheses is not a tuple:

t1 = ('s')
type(t1)

str

In [3]:
# To create a singleton tuple it is necessary to have a trailing comma.

t2 = ('a',)
type(t2)

tuple

### Creating tuple with elements
To create a tuple, fill the values in tuple separated by commas:

In [8]:
tup = (2,3,4, "hello", 'python')

In [9]:
tup

(2, 3, 4, 'hello', 'python')

### Indexing tuple
In order to access a particular value of tuple, specify a position number, in brackets. Let's discuss with an example.

In [10]:
tup[3]

'hello'

In [11]:
tup[-1]

'python'

### Slicing of tuple
In order to do slicing, use the square brackets with the index or indices.

In [12]:
tup[1:3]

(3, 4)

In [13]:
tup[1:6:2]

(3, 'hello')

In [14]:
tup[1:]

(3, 4, 'hello', 'python')

In [15]:
tup[::-1]

('python', 'hello', 4, 3, 2)

In [16]:
# Tuples are immutable, that is, one cannot add or modify items once the tuple is initialized.

tup1 = (1, 4, 9, 'ITSkills', 'Solution')
tup1[3] = 'Python'

TypeError: 'tuple' object does not support item assignment

#### Unpacking the items of tuples

In [17]:
tup2 = (1,2,3)
a,b,c = tup2

In [18]:
a, b, c

(1, 2, 3)

##  Built-in Tuple Functions

In [23]:
# The function len returns the total length of the tuple

tuple1 = ("C", "Python", "java","javh", 'C++')
len(tuple1)

5

In [24]:
tu = (3,4,1,2,18,9,0)

In [25]:
max(tu)

18

In [26]:
# The function max returns item from the tuple with the max value

max(tuple1)

'javh'

In [27]:
# The function min returns the item from the tuple with the min value

min(tuple1)

'C'

In [28]:
# count function

a = (2,4,'shivam',3,2,4,2,6,9)
a.count(2)

3

In [29]:
# index function

a.index('shivam')

2

In [30]:
# By using the + operator, two tuples can be added

tuple2 = ('1','2','3')
tuple3 = ('a', 'b', 'c', 'd', 'e')

tuple2 + tuple3

('1', '2', '3', 'a', 'b', 'c', 'd', 'e')

In [31]:
# By using the * operator, you can perform multiplication

tuple2*2

('1', '2', '3', '1', '2', '3')

## List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [32]:
a = [1, 2, 3, 4, 5, 'Python', 'Tutorial']
a

[1, 2, 3, 4, 5, 'Python', 'Tutorial']

In [33]:
type(a)

list

### Accessing list values
In order to access list values, use list names with positional index in square brackets.

In [34]:
a[4]

5

In [35]:
a[6]

'Tutorial'

In [36]:
a[-2]

'Python'

In [37]:
a[7]

IndexError: list index out of range

If the desired index is not found in the list, then the interpreter throws IndexError.

### Slicing of List
The slicing of a list is the same as we did in tuples.

In [38]:
a[1:5]

[2, 3, 4, 5]

In [39]:
a[:6]

[1, 2, 3, 4, 5, 'Python']

In [40]:
a[:]

[1, 2, 3, 4, 5, 'Python', 'Tutorial']

In [41]:
a[1:7:2]

[2, 4, 'Python']

The step means the amount by which the index increases. If you don't define it, then it takes 1 step by default.

### Updating the list
Lists are mutable, so the values of a list can be updated.

In [42]:
l = ['Learn', 'Python', 'in', 8, 'months']

In [43]:
l[3] = 7

In [44]:
l

['Learn', 'Python', 'in', 7, 'months']

In [45]:
l[4] = 'days'

In [46]:
l

['Learn', 'Python', 'in', 7, 'days']

### List functions

In [47]:
# The len() function returns the number of elements or values in the list

len(l)

5

In [48]:
# The max() function returns the element of the list with the maximum value

l1 = [2,5,1,6,3,9,7]
max(l1)

9

In [49]:
# The min() function returns the element of the list with the maximum value

min(l1)

1

In [50]:
# The sorted () function returns a new sorted list from the values in iterable.

sorted(l1)

[1, 2, 3, 5, 6, 7, 9]

### List methods

1. append(value) – appends a new element to the end of the list.

In [51]:
a = [1, 2, 3, 4, 5]

# Append values 6, 7, and 7 to the list
a.append(6)
a.append(7)
a.append(7)

a

[1, 2, 3, 4, 5, 6, 7, 7]

In [52]:
# Append another list

b = [8, 9]
a.append(b)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [53]:
# Append an element of a different type, as list elements do not need to have the same type

my_string = "Hello Python"
a.append(my_string)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'Hello Python']

**Note that** the append() method only appends one new element to the end of the list. If you append a list to another list, the list that you append becomes a single element at the end of the first list.

2. extend(enumerable) – extends the list by appending elements from another enumerable.

In [54]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]

# Extend list by appending all elements from b
a.extend(b)

In [55]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [56]:
# Extend list with elements from a non-list enumerable:

a.extend(range(3))
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [57]:
# Lists can also be concatenated with the + operator. Note that this does not modify any of the original lists:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

### Difference between append and extend.

If you are confused between the append and extend methods, the following example will clear your doubts:

In [61]:
Linux = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

Linux.extend(Linux2)
Linux

['kali', 'Ubuntu', 'debian', 'RHEL', 'Centos']

In [62]:
Linux[3]

'RHEL'

In [63]:
Linux = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

Linux.append(Linux2)
Linux

['kali', 'Ubuntu', 'debian', ['RHEL', 'Centos']]

In [64]:
Linux[3][0]

'RHEL'

The append method gives a list within the list. The list Linux2 = ["RHEL", "Centos"]has been taken as one list.

3. index(value, [startIndex]) – gets the index of the first occurrence of the input value. If the input value is not in the list a ValueError exception is raised. If a second argument is provided, the search is started at that specified index.

In [65]:
a.index(7)

6

In [66]:
a.index(7, 7)

7

4. insert(index, value) – inserts value just before the specified index. Thus after the insertion the new element occupies position index.

In [70]:
a

['dheeraj', 0, 5, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [71]:
a.insert(0, 'dheeraj') # insert 0 at position 0
a.insert(2, 5) # insert 5 at position 2
a

['dheeraj', 'dheeraj', 5, 0, 5, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

5. pop([index]) – removes and returns the item at index. With no argument it removes and returns the last element of the list.

In [72]:
a.pop(1)

'dheeraj'

In [73]:
a

['dheeraj', 5, 0, 5, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [74]:
# With no argument:
a.pop()

10

In [75]:
a

['dheeraj', 5, 0, 5, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9]

6. remove(value) – removes the first occurrence of the specified value. If the provided value cannot be found, a ValueError is raised.

In [76]:
a.remove(0)
a.remove(9)
a

['dheeraj', 5, 5, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8]

7. reverse() – reverses the list in-place and returns None

In [77]:
a.reverse()

In [78]:
a

[8, 7, 7, 6, 5, 4, 3, 2, 5, 1, 5, 5, 'dheeraj']

8. count(value) – counts the number of occurrences of some value in the list.

In [79]:
a.count(7)

2

9. sort() – sorts the list in numerical and lexicographical order and returns None.

In [80]:
c = [7,2,9,3,4,5,10,8]

In [81]:
c.sort(reverse=True)

In [82]:
c

[10, 9, 8, 7, 5, 4, 3, 2]

In [88]:
# Lists can also be reversed when sorted using the reverse=True flag in the sort() method.

c.sort(reverse=True)
c

[10, 9, 8, 7, 5, 4, 3, 2]

10. clear() – removes all items from the list

In [83]:
c.clear()
c

[]

11. Replication – multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original. This can be useful for example for list initialization:

In [84]:
p = ['python', 'class']*3

p

['python', 'class', 'python', 'class', 'python', 'class']

In [85]:
d = [1, 3, 5] * 5
d

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

12. Element deletion – it is possible to delete multiple elements in the list using the del keyword and slice notation:

In [86]:
a

[8, 7, 7, 6, 5, 4, 3, 2, 5, 1, 5, 5, 'dheeraj']

In [87]:
del a[2]

In [88]:
a

[8, 7, 6, 5, 4, 3, 2, 5, 1, 5, 5, 'dheeraj']

In [89]:
del a[1:4]

In [90]:
a

[8, 4, 3, 2, 5, 1, 5, 5, 'dheeraj']

### Accessing values in nested list

In [91]:
alist = [[[1,2],[3,4]], [[5,6,7],[8,9,10], [12, 13, 14]]]

In [98]:
alist[1][1][1]

9

In [99]:
# Accesses second element in the first list in the first list
alist[0][0][1]

2

In [100]:
# #Accesses the third element in the second list in the second list
alist[1][1][2]

10

# Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

### Creating a Dictionary

In [101]:
d = {} # empty dict
d = {'key': 'value'} # dict with initial values
d

{'key': 'value'}

In [102]:
d = {'name': 'shivam', 'score': 77, 'rating': 4.5}
d

{'name': 'shivam', 'score': 77, 'rating': 4.5}

### Accessing the values of dictionary

In [103]:
d['score']

77

In [104]:
d['rating']

4.5

In [105]:
d['rate']

KeyError: 'rate'

If the key is not found, then the interpreter shows the preceding error.

### Deleting an item from the dictionary

In [106]:
del d['score']

In [107]:
d

{'name': 'shivam', 'rating': 4.5}

### Updating the values of the dictionary

Updating the dictionary is pretty simple; just specify the key in the square bracket along with the dictionary name.

In [108]:
info = {'course': 'Python', 'mode': 'online', 'rating': 4.5}

In [109]:
info['rating'] = 5
info

{'course': 'Python', 'mode': 'online', 'rating': 5}

### Adding an item to the dictionary
Adding an item to the dictionary is very simple; just specify a new key in the square brackets along with the dictionary.

In [110]:
info = {'course': 'Python', 'mode': 'online', 'rating': 4.5}

In [111]:
info['place'] = 'Varanasi'

In [112]:
info

{'course': 'Python', 'mode': 'online', 'rating': 4.5, 'place': 'Varanasi'}

### Dictionary functions

In [113]:
# In order to find the number of items that are present in a dictionary, you can use the len() function

d = {'name': 'shivam', 'score': 77, 'rating': 4.5}
len(d)

3

In [114]:
# Consider a situation where you want to convert a dictionary into a string; here you can use the str() function.

str(d)

"{'name': 'shivam', 'score': 77, 'rating': 4.5}"

In [114]:
list(d)

['name', 'score', 'rating']

In [115]:
# copy() method

d1 = {'sr': 56, 'tt':78, 'yu':89}
d2 = d1.copy()
d2

{'sr': 56, 'tt': 78, 'yu': 89}

In [116]:
# The get() method is used to get the value of a given key from the dictionary.

d2.get('sr')

56

In [117]:
# Consider a situation where you want to do some operation on a dictionary's keys and want to get all the keys in different lists. In this situation, you can use the keys() method.

d2.keys()

dict_keys(['sr', 'tt', 'yu'])

In [118]:
# Similarly, if we want all the values in a separate list, we can use the values() method.

d2.values()

dict_values([56, 78, 89])

In [119]:
# update() method 

port1 = {22: "SSH", 23: "telnet", 80: "Http" }
port2 = {53 :"DNS", 443 : "https"}

port1.update(port2)
port1

{22: 'SSH', 23: 'telnet', 80: 'Http', 53: 'DNS', 443: 'https'}

In [120]:
# The items() method returns the list of dictionary's (key, value) tuple pairs:

dict1 = d={1:'one',2:'two',3:'three'}
dict1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [121]:
# clear() method

dict1.clear()
dict1

{}

# Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table.

In [124]:
d = {5,6}
type(d)

set

In [125]:
s = {1,4,4,4,2,5,2,7,8}
type(s)

set

In [126]:
s

{1, 2, 4, 5, 7, 8}

In [123]:
s.add(9) #add method

In [124]:
s

{1, 2, 4, 5, 7, 8, 9}

In [134]:
# difference method

s1 = {'roh', 'io', 'py', 'tw'}
s2 = {'io', 'py', 'te'}

In [128]:
s1.difference(s2)

{'roh', 'tw'}

In [135]:
s1

{'io', 'py', 'roh', 'tw'}

In [130]:
s1.difference_update(s2) #for permanent change

In [131]:
s1.

{'roh', 'tw'}

In [137]:
d = {}

In [138]:
type(d)

dict

In [139]:
s = {3,4,5}

In [140]:
type(s)

set

In [136]:
s1.intersection(s2)

{'io', 'py'}

### Accessing elements in sets

In [132]:
c1 = {'audi': 1970}
c2 = {'marceddes': 1960}

ct = {'cm': c1, 'cm2': c2}

In [131]:
c2['marceddes']

1960

In [133]:
ct

{'cm': {'audi': 1970}, 'cm2': {'marceddes': 1960}}

In [135]:
ct['cm2']['marceddes']

1960