# Data Structures

Data structures are basically just that - they are structures which can hold some data together. In other words, they are used to store a collection of related data. There are four built-in data structures in Python - list, tuple, dictionary and set. We will see how to use each of them and how they make life easier for us.

## Tuples

Python tuple is a sequence, which can store hetrogeneous data types such as integers, float, strings, lists and dictionary. Like strings, tuple is immutable.

In [37]:
# Create an empty tuple with parentheses:

t = ()
type(t)

tuple

In [4]:
# Note that a single value in parentheses is not a tuple:

t1 = ('s')
type(t1)

str

In [5]:
# To create a singleton tuple it is necessary to have a trailing comma.

t2 = ('a',)
type(t2)

tuple

### Creating tuple with elements
To create a tuple, fill the values in tuple separated by commas:

In [6]:
tup = (2,3,4, "hello", 'python')

In [7]:
tup

(2, 3, 4, 'hello', 'python')

### Indexing tuple
In order to access a particular value of tuple, specify a position number, in brackets. Let's discuss with an example.

In [8]:
tup[3]

'hello'

In [9]:
tup[-1]

'python'

### Slicing of tuple
In order to do slicing, use the square brackets with the index or indices.

In [10]:
tup[1:3]

(3, 4)

In [11]:
tup[1:6:2]

(3, 'hello')

In [12]:
tup[1:]

(3, 4, 'hello', 'python')

In [13]:
tup[::-1]

('python', 'hello', 4, 3, 2)

In [15]:
# Tuples are immutable, that is, one cannot add or modify items once the tuple is initialized.

tup1 = (1, 4, 9, 'ITSkills', 'Solution')
tup1[3] = 'Python'

TypeError: 'tuple' object does not support item assignment

#### Unpacking the items of tuples

In [16]:
tup2 = (1,2,3)
a,b,c = tup2

In [18]:
a, b, c

(1, 2, 3)

##  Built-in Tuple Functions

In [22]:
# The function len returns the total length of the tuple

tuple1 = ("C", "Python", "java","html", 'C++')
len(tuple1)

5

In [25]:
# The function max returns item from the tuple with the max value

max(tuple1)

'java'

In [26]:
# The function min returns the item from the tuple with the min value

min(tuple1)

'C'

In [32]:
# count function

a = (2,4,'shivam',3,2,4,2,6,9)
a.count(2)

3

In [34]:
# index function

a.index('shivam')

2

In [35]:
# By using the + operator, two tuples can be added

tuple2 = ('1','2','3')
tuple3 = ('a', 'b', 'c', 'd', 'e')

tuple2 + tuple3

('1', '2', '3', 'a', 'b', 'c', 'd', 'e')

In [36]:
# By using the * operator, you can perform multiplication

tuple2*2

('1', '2', '3', '1', '2', '3')

## List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [40]:
a = [1, 2, 3, 4, 5, 'Python', 'Tutorial']
a

[1, 2, 3, 4, 5, 'Python', 'Tutorial']

In [41]:
type(a)

list

### Accessing list values
In order to access list values, use list names with positional index in square brackets.

In [42]:
a[4]

5

In [44]:
a[6]

'Tutorial'

In [45]:
a[-2]

'Python'

In [46]:
a[7]

IndexError: list index out of range

If the desired index is not found in the list, then the interpreter throws IndexError.

### Slicing of List
The slicing of a list is the same as we did in tuples.

In [47]:
a[1:5]

[2, 3, 4, 5]

In [48]:
a[:6]

[1, 2, 3, 4, 5, 'Python']

In [49]:
a[:]

[1, 2, 3, 4, 5, 'Python', 'Tutorial']

In [51]:
a[1:7:2]

[2, 4, 'Python']

The step means the amount by which the index increases. If you don't define it, then it takes 1 step by default.

### Updating the list
Lists are mutable, so the values of a list can be updated.

In [52]:
l = ['Learn', 'Python', 'in', 8, 'months']

In [53]:
l[3] = 7

In [54]:
l

['Learn', 'Python', 'in', 7, 'months']

In [55]:
l[4] = 'days'

In [56]:
l

['Learn', 'Python', 'in', 7, 'days']

### List functions

In [57]:
# The len() function returns the number of elements or values in the list

len(l)

5

In [58]:
# The max() function returns the element of the list with the maximum value

l1 = [2,5,1,6,3,9,7]
max(l1)

9

In [59]:
# The min() function returns the element of the list with the maximum value

min(l1)

1

In [60]:
# The sorted () function returns a new sorted list from the values in iterable.

sorted(l1)

[1, 2, 3, 5, 6, 7, 9]

### List methods

1. append(value) – appends a new element to the end of the list.

In [65]:
a = [1, 2, 3, 4, 5]

# Append values 6, 7, and 7 to the list
a.append(6)
a.append(7)
a.append(7)

a

[1, 2, 3, 4, 5, 6, 7, 7]

In [66]:
# Append another list

b = [8, 9]
a.append(b)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [67]:
# Append an element of a different type, as list elements do not need to have the same type

my_string = "Hello Python"
a.append(my_string)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'Hello Python']

**Note that** the append() method only appends one new element to the end of the list. If you append a list to another list, the list that you append becomes a single element at the end of the first list.

2. extend(enumerable) – extends the list by appending elements from another enumerable.

In [68]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]

# Extend list by appending all elements from b
a.extend(b)

In [69]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [70]:
# Extend list with elements from a non-list enumerable:

a.extend(range(3))
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [73]:
# Lists can also be concatenated with the + operator. Note that this does not modify any of the original lists:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

### Difference between append and extend.

If you are confused between the append and extend methods, the following example will clear your doubts:

In [71]:
Linux = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

Linux.extend(Linux2)
Linux

['kali', 'Ubuntu', 'debian', 'RHEL', 'Centos']

In [72]:
Linux = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

Linux.append(Linux2)
Linux

['kali', 'Ubuntu', 'debian', ['RHEL', 'Centos']]

The append method gives a list within the list. The list Linux2 = ["RHEL", "Centos"]has been taken as one list.

3. index(value, [startIndex]) – gets the index of the first occurrence of the input value. If the input value is not in the list a ValueError exception is raised. If a second argument is provided, the search is started at that specified index.

In [74]:
a.index(7)

6

In [75]:
a.index(7, 7)

7

4. insert(index, value) – inserts value just before the specified index. Thus after the insertion the new element occupies position index.

In [76]:
a.insert(0, 0) # insert 0 at position 0
a.insert(2, 5) # insert 5 at position 2
a

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

5. pop([index]) – removes and returns the item at index. With no argument it removes and returns the last element of the list.

In [77]:
a.pop(2)

5

In [78]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [79]:
# With no argument:
a.pop()

10

In [80]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

6. remove(value) – removes the first occurrence of the specified value. If the provided value cannot be found, a ValueError is raised.

In [81]:
a.remove(0)
a.remove(9)
a

[1, 2, 3, 4, 5, 6, 7, 7, 8]

7. reverse() – reverses the list in-place and returns None

In [82]:
a.reverse()

In [83]:
a

[8, 7, 7, 6, 5, 4, 3, 2, 1]

8. count(value) – counts the number of occurrences of some value in the list.

In [84]:
a.count(7)

2

9. sort() – sorts the list in numerical and lexicographical order and returns None.

In [85]:
c = [7,2,9,3,4,5,10,8]
c.sort()

In [86]:
c

[2, 3, 4, 5, 7, 8, 9, 10]

In [88]:
# Lists can also be reversed when sorted using the reverse=True flag in the sort() method.

c.sort(reverse=True)
c

[10, 9, 8, 7, 5, 4, 3, 2]

10. clear() – removes all items from the list

In [89]:
c.clear()
c

[]

11. Replication – multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original. This can be useful for example for list initialization:

In [91]:
p = ['python', 'class']*3

p

['python', 'class', 'python', 'class', 'python', 'class']

In [92]:
d = [1, 3, 5] * 5
d

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

12. Element deletion – it is possible to delete multiple elements in the list using the del keyword and slice notation:

In [93]:
a

[8, 7, 7, 6, 5, 4, 3, 2, 1]

In [94]:
del a[2]

In [95]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [96]:
del a[1:4]

In [97]:
a

[8, 4, 3, 2, 1]